.App {
  text-align: center;
  color: #333;
  margin-top: 20px;
}

.kanban-board {
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

.column {
  width: 20%;
  padding: 10px;
  background-color: #c77c7c;
  border-radius: 20px;
}

.task-list {
  min-height: 300px;
}

.task-card {
  padding: 10px;
  background-color: #f0f0f0;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: move; 
}

